.header {
  border-bottom: solid 1px #545454;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 173px;
  margin-bottom: 41px;
}

.header__button {
  margin: 0 0 32px 0;
  color: #fff;
  background-color: transparent;
  border: none;
}

.header__button:hover {
  cursor: pointer;
  opacity: 60%;
}

.header__button_profile {
  margin-right: 56px;
  font-weight: 500;
}

.header__button_logout {
  color: #a9a9a9;
}

@media screen and (max-width: 544px) {
  .header__logo {
    max-width: 126px;
    margin-bottom: 32px;
  }

  .header__button {
    margin-bottom: 24px;
    font-size: 14px;
  }
}
