.register {
  max-width: 358px;
  margin: 0 auto;
}

.register__title {
  text-align: center;
  margin: 60px 0 50px;
  font-size: 24px;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__input-wrapper {
  position: relative;
}

.register__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 0 0 13px 2px;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
  outline: none;
  width: 100%;
}

.register__input_margin_s {
  margin-bottom: 30px;
}

.register__input_margin_l {
  margin-bottom: 216px;
}

.register__input::placeholder {
  font-size: 14px;
  color: #ccc;
}

.register__input-visibility-button {
  position: absolute;
  top: 3%;
  right: 1%;
}

.register__input-visibility-button:hover {
  cursor: pointer;
}

.register__input-visibility-icon {
  width: 16px;
}

.register__input-error {
  font-size: 12px;
  color: #a9a9a9;
  position: absolute;
  top: 65%;
  left: 5px;
  z-index: 1;
  font-weight: 500;
}

.register__input-error_positioned-top {
  font-size: 12px;
  color: #a9a9a9;
  position: absolute;
  top: 17%;
  left: 5px;
  z-index: 1;
  font-weight: 500;
}

.register__input-error_hidden {
  display: none;
}

.register__button {
  cursor: pointer;
  width: 100%;
  padding: 14px 0 14px;
  border: none;
  border-radius: 2px;
  margin-bottom: 15px;
  background-color: #fff;
}

.register__button:hover {
  opacity: 85%;
}

.register__button_disabled {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  color: #c4c4c4;
  cursor: not-allowed;
}

.register__sign-up-text {
  text-align: center;
  font-size: 14px;
  margin-bottom: 85px;
}

.register__sign-up-link {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
}

.register__sign-up-link:hover {
  opacity: 60%;
}

@media screen and (max-width: 544px) {
  .register__title {
    margin: 40px 0 40px;
    font-size: 20px;
  }

  .register__input_margin_l {
    margin-bottom: 173px;
  }

  .register__input-error_positioned-top {
    top: 20%;
  }

  .register__button {
    font-size: 16px;
    margin-bottom: 20px;
    color: #000;
    height: 47px;
  }

  .register__button_disabled {
    color: #c4c4c4;
    height: 47px;
  }

  .register__sign-up-text {
    font-size: 12px;
    margin-bottom: 85px;
  }
}
